@import "../../styles/variables.scss";

.dropdown {
  &__toggle {
    height:50px;
    background-color: $brand-color;
    border: 1px solid $brand-color;

    &:hover {
      background-color: rgb(1, 5, 5);
    }
  }
}
