.content {
  // position: absolute;
  // margin-top: 50px;
  // padding-bottom: 100px;
  // top: 55%;
  // left: 50%;
  width: 1230px;
  height: 500px;
  // max-height: 1000px;
  overflow-y: auto;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
}
table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
tbody {
  height: auto;
}

td {
  height: 0px;
  // width: 250px;
  padding: 15px;
  background-color: #33cccc8f;
  color: #000000;
}

th{
  height: 50px;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #33cccc;
}

tbody tr:hover {
  background-color: #1b676777;
}
tbody td {
  position: relative;
}

.moder_action {
  display: flex;
  gap: 30px;

  &__button {
    width: 30px;
    border: 2px solid black;
    padding: 3px;

    &:hover {
      background-color: white;
    }
  }
}
.filters {
  margin-top: 30px;
  width: 1185px;
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.input {
  margin-right: 30px;
  width: 800px;
}

.date {
  border: 1px solid #33cccc;
  // border-radius: 20px;
}
